.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    background-color: #1D1D1B;
    font-family:'Helvetica', sans-serif;
    color: #000000;
    min-height: 100vh;
}

.card{
    background-color: #ffffff;
    border-radius: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    padding: 5px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    margin-top: 80px;
    
}

.button{
    color: black;
    background-color: #90906E;
    font-family: 'Roboto', sans-serif;
    border: none;
    cursor: pointer;
    padding: 5px 9px;
    border: 2px;
    border-radius: 5px;
    align-self: center;
    margin-right: 1px;
    margin-top: 5px;
    margin-left: 9px;
    font-weight: bold;
  }

.butão{
    color: black;
    background-color: #90906E;
    font-family: 'Roboto', sans-serif;
    border: none;
    cursor: pointer;
    padding: 5px 9px;
    border: 2px;
    border-radius: 5px;
    align-self: center;
    margin-right: 1px;
    margin-left: 9px;
    font-weight: bold;
  }

.tudo{
    background-color: #1D1D1B;
  }

.link{
  text-decoration: none;
  color: inherit;
  margin-top: 10px;
}