.card{
    background-color: #90906E;
    display: inline-block;
    width: 400px;
    height: 400px;
    padding: 5px;
    margin: 20px;
    overflow: hidden;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
  }

.centralizar{
    display: flex;
    justify-content: center;
}

.img{
    height: 200px;
    width: 400px;
    justify-content: center;
    align-content: center;
    display: flex;
}
